#calling{
font-size: 2rem;
margin-bottom: 5px;
}
h4{
    margin: 0;
    font-size: 20px;
}
.part{
    display: flex;
    justify-content: space-between;
}
#name-tag{
    color: rgb(67, 151, 247);
    margin: -10px 0 0 10px;

}

#ad1{
    padding-left: 20px;
}
p{
    margin: 5px 0 5px 0;
}
a{
    text-decoration: none;
    color: black;
}
#phone,#mail,#linkedin{
    padding-top: 8px;
    
}
hr{
    position: relative;
    
}