<div class="part">
<div id="name-tag">
    <h2 id="calling">{{name}}</h2>
    <h4>{{title}}</h4>
</div>
<div id="address-info">
    <p><i class="fa-solid fa-location-dot"></i>{{address}}</p>
    <p id="ad1">{{ad1}}</p>
    <div id="phone">
    <a href="tel:{{phone}}" ><i class="fa-solid fa-phone"></i>{{phone}}</a> <br></div>
    <div id="mail">
    <a href="mailto:{{email}}"><i class="fa-solid fa-envelope"></i>{{email}}</a>
    </div>
    <div class="linkdin">
        <p><i class="fa-brands fa-linkedin"></i>{{linkedin}}</p>
    </div>
    <div class="github">
        <a href="github:{{github}}"><i class="fab fa-github-square"></i>{{github}}</a>
    </div>
</div>
</div>
<hr>

