.headi{
    color: rgb(67, 151, 247);
}
#lantop {
    position: absolute;
        top: 149.2%;
        width: 35%;
        left: 65%;
}
li{
    list-style-type:square;
    padding-inline-start: 5px;
}